In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = {
    "text": [
        "NASA confirms water on Mars",
        "You won't believe what this actor did!",
        "Government passes new education bill",
        "Scientists find cure for cancer in lemons",
        "President addresses the nation",
        "Shocking! Aliens spotted in Delhi",
        "Stock market hits all-time high",
        "Celebrity marries alien in secret ceremony"
    ],
    "label": ["real", "fake", "real", "fake", "real", "fake", "real", "fake"]
}

df = pd.DataFrame(data)
df

                                         text label
0                 NASA confirms water on Mars  real
1      You won't believe what this actor did!  fake
2        Government passes new education bill  real
3   Scientists find cure for cancer in lemons  fake
4              President addresses the nation  real
5           Shocking! Aliens spotted in Delhi  fake
6             Stock market hits all-time high  real
7  Celebrity marries alien in secret ceremony  fake

In [3]:
X = df["text"]
y = df["label"]

vectorizer = TfidfVectorizer()
X_vec = vectorizer.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_vec, y, test_size=0.25, random_state=42)

In [4]:
model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [5]:
sample = ["Aliens built the pyramids"]
sample_vec = vectorizer.transform(sample)
print("Prediction:", model.predict(sample_vec)[0])

Prediction: real